<div class="pantalla-principal">
    <mat-card class="contenedor seccion" class="box-shadow-none">
      <div class="main-container">
        <div class="editor">
          <mat-card-title class="style-title">
            <a routerLink="/pokedex">
                <img src="https://fontmeme.com/permalink/220718/e7609e8d95c9b93760db1f10cbe3b8ea.png" alt="fuente-pokemon" border="0">
            </a>
        </mat-card-title>
        </div>
        <div class="image-flex">
          <img class="people" style="width: 550px;" src="{{storyPath}}" />
        </div>
      </div>
    </mat-card>
</div>